<ul class="nav">
    <li><a href="/">Home Page</a></li>
    <li><a href="/login">Login Page</a></li>
    <li><a href="/profile/pruthvi">Profile Page</a></li>
</ul>

<style>
    body{
        background-color: #8cc3f7;
        color: #333435;
    }
    a{
        color: #333435;
    }
    .nav li{
        margin: 13vw;
        display: inline;
    }
</style>