<ul class="nav">
    <li><a href="/">Home Page</a></li>
    <li><a href="/login">Login Page</a></li>
    <li><a href="/profile/pruthvi">Profile Page</a></li>
</ul>

<link rel="stylesheet" href="../../assets/style.css">
